.menu-item {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-item h5 {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-item:hover {
  background-color: #3B8686;
  cursor: pointer;
}
