@media all and (min-width:960px) {
  .member-card {
    width: 200px !important;
  }
}

.member-card{
  height: 70%;
  width: 100%;
  display: block;
  background-color: white;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 5px;
  position: relative;

}

.member-card p{
  font-weight: bold;
  padding-left: 5px;
  font-family: "Segoe UI",Arial,sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member-content {
  padding-left: 5px;
  font-family: Verdana,sans-serif;
  font-size: 14px;
  height:45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member-footer {
  padding: 5px;
}

.member-footer div {
  display: block;
  height: 30%;
  position: relative;
}
