.App {
  font-family: Arial, Helvetica, sans-serif;
}

@media all and (min-width:960px) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

body {
  background-color: #efe9f4
}

@media only screen and (max-width: 480px) {
  .container {
    padding-bottom:  50px;
    margin: 0px 10px;
  }
}


@media only screen and (min-width: 481px) {
  .container {
  padding-top: 20px;
  }
}
